@import url("https://fonts.googleapis.com/css?family=Manrope:400,700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
  background-color: black;
}
