.flag {
  transition: all 0.3s;
  width: 3rem;
  height: auto;
  cursor: pointer;
  z-index: 2000;
  margin-right: 1rem;

  &:active {
    transform: translateY(-0.2rem);
  }

  &__xl {
    @extend .flag;
    margin-right: 2rem;
  }
}
