.text-field {
  width: 100%;
  margin-bottom: 1rem;
}

.form {
  margin: 1rem;
}

.button {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 900px) {
  .values,
  .currencies {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .values > .text-field {
    width: 24%;
  }

  .currencies > .text-field {
    width: 49%;
  }

  .form {
    width: 60%;
  }

  .total-salary {
    font-size: 3rem;
  }
}

.result,
.captcha {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  height: 10vh;
  font-size: 1.5rem;
}
