.TextField {
  width: 100%;
}

.form {
  margin: 1rem;
  width: 92%;
}

.Button {
  margin-top: 1rem;
}

@media only screen and (min-width: 900px) {
  .form {
    width: 60%;
  }
}

.login {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.register,
.forgot {
  font-size: 1rem;
}
