.alert {
  width: 100%;
  margin-bottom: 0.5rem;
}

.TextField {
  width: 100%;
}

.form {
  margin: 1rem;
}

.Button {
  margin-top: 1rem;
}

@media only screen and (min-width: 900px) {
  .TextField {
    width: 49%;
    &:first-child {
      margin-right: 2%;
    }
  }
  .form {
    width: 60%;
  }
}

.login {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.register,
.forgot {
  font-size: 1rem;
}
