table {
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  /* width: 10px;
  height: 10px; */
  text-align: center;
  border: 1px solid black;
  font-family: monospace;
  font-size: 12px;
  position: relative;
}
