table {
  border-collapse: collapse;
  align-self: flex-end;
}

td {
  text-align: center;
  font-family: monospace;
  position: relative;
}

.debug {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  font-size: 10px;
}
