.common {
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  width: 100%;
  z-index: 2;
  position: absolute;
  font-weight: 400;
  text-shadow: 1px 1px 2px black, 0 0 0.2em black;
}

.flags {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.flag {
  width: 2vw;
  height: auto;
}

.name {
  height: 90%;
  font-size: 10vw;
}

.title {
  height: 130%;
  font-size: 3vw;
}
