.box {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.name {
  z-index: 2;
  position: absolute;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 0.2rem black;
  font-size: 3.5rem;
  padding-bottom: 4rem;

  &__xl {
    @extend .name;
    font-size: 12rem;
    padding-bottom: 10rem;
  }
}

.title {
  z-index: 2;
  position: absolute;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 0.2rem black;
  font-size: 1.5rem;
  padding-top: 4rem;

  &__xl {
    @extend .title;
    font-size: 3rem;
    padding-top: 10rem;
  }
}
