.table {
  border-collapse: collapse;
  height: 100%;
}

.td {
  text-align: center;
  font-family: monospace;
  position: relative;
}

.debug {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 0.2rem black;
}
