.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.common {
  color: white;
  z-index: 2;
  position: absolute;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 0.2rem black;
}

.flags {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 4rem;
  z-index: 2;
}

.flag {
  transition: all 0.3s;
  width: 3rem;
  height: auto;

  &:hover {
    transform: translateY(-0.3rem);
  }

  &:active {
    transform: translateY(-0.1rem);
  }
}

.name {
  color: white;
  z-index: 2;
  position: absolute;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 0.2rem black;
  font-size: 12rem;
  padding-bottom: 10%;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 0.2rem black;
  font-size: 3rem;
  padding-top: 10%;
}
